extends layout

block content
  .row.page-header
    .col-lg-12
      br
      h1.text-warning.size.text-center.italic= title
  .row
    .col-lg-2.col-xs-2.col-sm-2
    .col-lg-8.col-xs-8.col-sm-8
      p.text-warning
        each report in reports
          br
          .card.card-outline-primary.bg_y
            .col-lg-4
              h5.text-primary Review Author: 
              p.oblique #{report.reviewAuthor_name}
              h5.text-primary Review Content: 
              p.oblique #{report.review_content}
              h5.text-primary Whistlebower: 
              p.oblique #{report.whistlebower_name}
              h5.text-primary Report Reason: 
              p.oblique #{report.report_content}
            .col-lg-12
              .col-xs-6
                form(action="/users/admin/reports/#{report._id}", method="post", role="form")
                  button.btn.btn-primary.btn-lg.size-button.float-right Ignore
                form(action="/users/admin/reports/#{report._id}/reviewRemove?place_id=#{report.place_id}&review_id=#{report.review_id}", method="post", role="form")
                  button.btn.btn-primary.btn-lg.size-button.float-right Remove
              .col-xs-6
                a(class="btn btn-primary btn-lg size-button float-right" href="/users/admin/contact?whistlebower_name=#{report.whistlebower_name}&whistlebower_email=#{report.whistlebower_email}") Contact Whistlebower
                a(class="btn btn-primary btn-lg size-button float-right" href="/users/admin/contact?reviewAuthor_name=#{report.reviewAuthor_name}&reviewAuthor_email=#{report.reviewAuthor_email}") Contact Review Author
    .col-lg-2.col-xs-2.col-sm-2
  .row
    .col-lg-1.col-xs-1.col-sm-1
    .col-lg-10.col-xs-10.col-sm-10
      script(src='/javascripts/map_current_location.js') 
      #map.size_map
    .col-lg-1.col-xs-1.col-sm-1


