extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
      .col-lg-11
          h1.text-warning= pageHeader.title
            span.fa.fa-refresh.fa-spin.fa-1x.fa-fw
      .col-lg-1
        p
         form(action="/users/#{userid}/lovedLocations/", method="post", role="form")
           input(type="hidden", id="locationName", name='locationName', value="#{location.name}")
           input(type="hidden", id="locationAddress", name='locationAddress', value="#{location.address}")
           input(type="hidden", id="place_id", name='place_id', value="#{location.place_id}")
           input(type="hidden", id="lat", name='lat', value="#{location.coords.lat}")
           input(type="hidden", id="lng", name='lng', value="#{location.coords.lng}")
           button(class="btn-warning", class="fa", class="fa-heart", class="text-red" title="Click here to place curren location to the loved loation list") Love it
  .row
      .col-xs-12.col-md-9
          .row
              .col-xs-12.col-sm-12.col-lg-6
                h5.rating.sideword
                  +outputRating(location.rating)                p.h6.list-group-item-text.sideword= location.address
                .card.card-inverse.card-primary
                  .card-header
                    h4.card-title.text-warning Open or Not Open
                  .card-block.bg.sideword
                    if location.openingTimes == "true"
                      h6 This location is now available for customers.
                    if location.openingTimes == "false"
                      h6 This location is now not available for customers.
                    if location.openingTimes == "notSure"
                      h6 Information about this location is uncertain.
                .card.card-primary
                  .card-header
                    h4.card-title.text-warning Facilities
                  .card-block.bg.sideword
                    p.h4
                      each facility in location.facilities
                        span.badge.badge-pill.badge-warning #{facility}
                        | &nbsp;
              .col-xs-12.col-sm-12.col-lg-6.location-map
                .card.card-inverse.card-primary
                  .card-header
                    h4.card-title.text-warning Location map
                  .card-block
                    img.img-fluid.img-thumbnail(src="https://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lng}&scale=2&key=#{env.StaticMapAPI}")
              .col-lg-12
                hr
          .row
            .col-xs-12.col-lg-12
              .card.card-primary
                .card-header
                  a.btn.btn-warning.float-right(href="/location/#{location.place_id}/reviews/new") Add review
                  h4.card-title.text-warning Customer reviews
                .card-block.review-container
                  each review in location.reviews
                    .row
                      .review.col-lg-6.col-sm-6.col-xs-6
                        .review-header
                          span.rating.sideword
                            +outputRating(review.rating)
                          span.reviewAuthor.sideword #{review.author}
                          small.reviewTimestamp
                            +formatDate(review.createdOn)
                          p.sideword !{(review.reviewText).replace(/\n/g, '<br/>')}
                      .col-lg-6.col-sm-6.col-xs-6
                        a(class="btn btn-warning btn-lg float-right size-button_s", href="/location/#{location.place_id}/reviews/#{review._id}/report?reviewAuthor_name=#{review.author}&reviewAuthor_email=#{review.author_email}&review_content=#{review.reviewText}&location_name=#{location.name}") Report
      .col-xs-12.col-md-3
        p.lead.sideword #{location.name} #{sidebar.context}
        p.sideword #{sidebar.callToAction}





                          
