extends layout

include _includes/sharedHTMLfunctions

block content
  .page-header
    .row
      .col-lg-6
        h1.sideword
          strong.fa.fa-location-arrow
          small.lead &nbsp;#{pageHeader.title}
  .row
    .col-xs-12.col-sm-8.col-lg-6
      h4.text-warning
        error= errorMessage
      .row.list-group
      each location in locations
        .col-xs-12.col-lg-12.list-group-item.list-group-item-action.active
          h4.list-group-item-heading
            a(href="/location/#{location.place_id}?name=#{location.name}&rating=#{location.rating}&address=#{location.address}" class="text-warning")= location.name
            | &nbsp;
            small
              +outputRating(location.rating)
            span.badge.float-right.badge-pill.badge-default= location.distance
            p.h6.list-group-item-text= location.address
            p.h6
              each facility in location.facilities
                span.badge.badge-pill.badge-warning= facility
                | &nbsp;

    .col-xs-12.col-sm-4.col-lg-5
      p.lead.sideword Location Seeking helps you find place to work out. 
      #map
