extends layout

include _includes/sharedHTMLfunctions

block content
  .page-header
  .row
    .col-lg-6
      h5.text-warning.sideword
        strong.fa.fa-location-arrow
        &nbsp;#{pageHeader.title}
  .row
    .col-xs-12.col-sm-12.col-lg-6
      h4.text-warning
        error= errorMessage
      .row.list-group
      each location in locations
        .col-xs-12.col-lg-12.list-group-item.list-group-item-action.active
          h4.list-group-item-heading
            a(href="/location/#{location.place_id}?name=#{location.name}&rating=#{location.rating}&address=#{location.address}&facilities=#{location.facilities}&openingTimes=#{location.openingTimes}&lat=#{location.lat}&lng=#{location.lng}" class="text-warning")= location.name
            | &nbsp;
            small
              +outputRating(location.rating)
            span.badge.float-right.badge-pill.badge-default= location.distance
            p.h6.list-group-item-text= location.address
            p.h6
              each facility in location.facilities
                span.badge.badge-pill.badge-warning= facility
                | &nbsp;

    .col-xs-12.col-sm-12.col-lg-5
      h5.text-warning.sideword Location Seeking helps you find place to work out.
      script(src='/javascripts/map_current_location.js') 
      #map.size_map


