extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
      .col-lg-12
          h1.text-warning= pageHeader.title
            span.fa.fa-refresh.fa-spin.fa-1x.fa-fw
  .row
      .col-xs-12.col-md-9
          .row
              .col-xs-12.col-sm-12.col-lg-6
                h5.rating.sideword
                  +outputRating(location.rating)
                p.h6.list-group-item-text.sideword= location.address
                .card.card-inverse.card-primary
                  .card-header
                    h4.card-title.text-warning Opening hours
                  .card-block.bg.sideword
                    if location.openingTimes == "true"
                      h6 This location is now available for customers.
                    if location.openingTimes == "false"
                      h6 This location is now not available for customers.
                    if location.openingTimes == "notSure"
                      h6 Information about this location is uncertain.
                .card.card-primary
                  .card-header
                    h4.card-title.text-warning Facilities
                  .card-block.bg.sideword
                    p.h4
                      each facility in location.facilities
                        span.badge.badge-pill.badge-warning #{facility}
                        | &nbsp;
              .col-xs-12.col-sm-12.col-lg-6.location-map
                .card.card-inverse.card-primary
                  .card-header
                    h4.card-title.text-warning Location map
                  .card-block
                    img.img-fluid.img-thumbnail(src="http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lng}&scale=2&key=#{env.StaticMapAPI}")
              .col-lg-12
                hr
          .row
            .col-xs-12.col-lg-12
              .card.card-primary
                .card-header
                  a.btn.btn-warning.float-right(href="/location/#{location._id}/reviews/new") Add review
                  h4.card-title.text-warning Customer reviews
                .card-block.review-container
                  each review in location.reviews
                    .row
                      .review
                        .well.well-sm.review-header
                          span.rating.sideword
                            +outputRating(review.rating)
                          span.reviewAuthor.sideword #{review.author}
                          small.reviewTimestamp
                            +formatDate(review.createdOn)
                          p.sideword !{(review.reviewText).replace(/\n/g, '<br/>')}
      .col-xs-12.col-md-3
        p.lead.sideword #{location.name} #{sidebar.context}
        p.sideword #{sidebar.callToAction}





                          
