extends layout

block content
  .row.page-header
    .col-lg-12
      br
      h1.text-warning.text-center.italic= title
  .row
    .col-lg-2.col-xs-2.col-sm-2
    .col-lg-8.col-xs-8.col-sm-8
      p.text-primary.oblique
       each location in lovedLocation
        br
        .card.card-outline-primary.bg_y
          .col-lg-4
            p.size_label
             a(href = "/location/#{location.place_id}") Name: #{location.locationName}
          .col-lg-12 
            p.size_adds
             a(href = "/location/#{location.place_id}") Address: #{location.locationAddress}
            p
              a(class="btn btn-primary btn-lg size-button float-right" href="/users/#{userid}/lovedLocations/route?lat=#{location.coords.lat}&lng=#{location.coords.lng}&locationName=#{location.locationName}") Route 
              form(action="/users/#{userid}/lovedLocations/#{location._id}", method="post", role="form")
                button.btn.btn-primary.btn-lg.size-button.float-right Delete
                br
                br
    .col-lg-2.col-xs-2.col-sm-2
  .row
    .col-lg-1.col-xs-1.col-sm-1
    .col-lg-10.col-xs-10.col-sm-10
      script(src='/javascripts/map_current_location.js') 
      #map.size_map
    .col-lg-1.col-xs-1.col-sm-1
    
